*{
    margin:0;
    padding:0;
     box-sizing: border-box;
  }
  body{
    text-align:center;
    background:#686766;
    color:#ffffff;
  }
  .container{
    display:block;
   
    margin:0 auto;
    
    font-family:sans-serif;
    padding-top:2em;
    position:relative;
  }
  h1{
    margin-bottom:0.3em;
  }
  p{
    margin-bottom:1em;
  }
  .buttons{
    bottom:20px;
    left:200px;
    position:absolute;
  }